[project]
name = "vrcsugerchecker"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "dotenv>=0.9.9",
    "requests>=2.32.5",
    "pywin32>=308",
    "pillow>=10.0.0",
]
